.hello
    form(@submit.prevent='fetch').outline-brown
        input(
            @change='validate'
            @input='validate'
            v-model='siteId' placeholder='leadhit-site-id' autofocus)
        slide-up-down(:active="isErrMsg" :duration="300" :use-hidden="false")
            ul.err-msg.outline-crimson
                li(v-for="item in errors" :key="item") {{ item }}
        button(type='submit' :disabled='!isBtnEnabled') Вход
