.hello
    Home
    form(@submit.prevent='fetch').outline-brown
        input(
            @change='validate'
            @input='validate'
            v-model='siteId' placeholder='leadhit-site-id' autofocus)
        slide-up-down(:active="isErrMsg" :duration="300" :use-hidden="false")
            .err-msg.outline-crimson
                span {{ errMsg }}
        button(type='submit' :disabled='!isBtnEnabled') Вход
