form(@submit.prevent='submit').outline-brown
    h2 Вход
    .input-group
        .input-group-prepend
            span.input-group-text id сайта
        input.form-control(
            type='text'
            @change='validate'
            @input='validate'
            v-model='siteId' placeholder='leadhit-site-id' autofocus)

    slide-up-down(:active="isErrMsg" :duration="300" :use-hidden="false")
        ul.err-msg.outline-crimson.alert.alert-warning(role="alert")
            li(v-for="item in errors" :key="item" v-html='item')
    button(:disabled='!isBtnEnabled').btn.btn-primary Войти
